*

!manage-shortcut-stories/
!manage-shortcut-stories/**
manage-shortcut-stories/references/shortcut-config.md
!datadog-logs/
!datadog-logs/**
!gh-debug-actions/
!gh-debug-actions/**
!terraform/
!terraform/**
!gh-pr-create/
!gh-pr-create/**
